node-red/flow
[{"id":"a7ec0126.5814","type":"inject","z":"f17d8d37.0e827","name":"invokeTemperatureService","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":161.68183135986328,"y":37.63636589050293,"wires":[["1c21efd7.e3de1"]]},{"id":"1c21efd7.e3de1","type":"http request","z":"f17d8d37.0e827","name":"getTemperature","method":"GET","ret":"obj","url":"http://192.168.2.200/temperature","x":365.94445037841797,"y":136.1111068725586,"wires":[["6e6dc3bc.91923c"]]},{"id":"26f453e3.d90bac","type":"debug","z":"f17d8d37.0e827","name":"","active":true,"console":"true","complete":"payload","x":732.3486328125,"y":297.04046058654785,"wires":[]},{"id":"c29ff032.3d601","type":"inject","z":"f17d8d37.0e827","name":"invokeHumidityService","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155.45453643798828,"y":304.5454692840576,"wires":[["c2d8f10f.3d271"]]},{"id":"c2d8f10f.3d271","type":"http request","z":"f17d8d37.0e827","name":"getHumidity","method":"GET","ret":"obj","url":"http://192.168.2.200/humidity","x":206.2828598022461,"y":411.3030309677124,"wires":[["868ee257.79712"]]},{"id":"868ee257.79712","type":"debug","z":"f17d8d37.0e827","name":"","active":false,"console":"true","complete":"payload","x":401.01013946533203,"y":494.2424507141113,"wires":[]},{"id":"6e6dc3bc.91923c","type":"function","z":"f17d8d37.0e827","name":"temperatureParse","func":"var count = context.get('count') || 0;\ncount += 100;\ncontext.set('count', count);\n\ntemperature = {};\n\ntemperature.id = count\ntemperature.currentValue = msg.payload.temperature\ntemperature.timestamp = new Date().toISOString()\n\nmsg.payload = JSON.stringify(temperature)\n\nmsg.headers = {\n    'x-ibm-client-id': \"default\",\n    'x-ibm-client-secret': \"SECRET\",\n    'content-type': \"application/json\",\n    'accept': \"application/json\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":499.44445037841797,"y":236.66667079925537,"wires":[["549d1fe9.ab62e","26f453e3.d90bac"]]},{"id":"549d1fe9.ab62e","type":"http request","z":"f17d8d37.0e827","name":"postTemperature","method":"POST","ret":"txt","url":"https://localhost:4002/api/temperatures","x":566.6665458679199,"y":358.8888759613037,"wires":[["6c2a5d81.93d5a4"]]},{"id":"6c2a5d81.93d5a4","type":"http response","z":"f17d8d37.0e827","name":"","x":779.4443778991699,"y":440.00001335144043,"wires":[]}]