node-red/flow
[{"id":"728819b3.8d77e8","type":"inject","z":"c7f9109a.3806f","name":"invokeTemperatureService","topic":"","payload":"","payloadType":"date","repeat":"1200","crontab":"","once":false,"x":154,"y":49,"wires":[["2418a256.dbe75e"]]},{"id":"2418a256.dbe75e","type":"http request","z":"c7f9109a.3806f","name":"getTemperature","method":"GET","ret":"obj","url":"http://eduardo.synology.me:8080/temperature","x":380.26263427734375,"y":50.47474670410156,"wires":[["da1646c8.25e9b8"]]},{"id":"d0d3f63c.2f2c08","type":"debug","z":"c7f9109a.3806f","name":"","active":true,"console":"true","complete":"payload","x":798.6668090820312,"y":52.404083251953125,"wires":[]},{"id":"f58e9933.0a7168","type":"inject","z":"c7f9109a.3806f","name":"invokeHumidityService","topic":"","payload":"","payloadType":"date","repeat":"1200","crontab":"","once":false,"x":147.77269744873047,"y":259.90911865234375,"wires":[["8e145721.71eba8"]]},{"id":"8e145721.71eba8","type":"http request","z":"c7f9109a.3806f","name":"getHumidity","method":"GET","ret":"obj","url":"http://eduardo.synology.me:8080/humidity","x":366.6010284423828,"y":259.6666564941406,"wires":[["58323060.a7cdd"]]},{"id":"da1646c8.25e9b8","type":"function","z":"c7f9109a.3806f","name":"temperatureParse","func":"var count = context.get('count') || 0;\ncount += 1;\ncontext.set('count', count);\n\ntemperature = {};\n\ntemperature.id = count\ntemperature.currentValue = msg.payload.temperature\ntemperature.timestamp = new Date().toISOString()\n\nmsg.payload = JSON.stringify(temperature)\n\nmsg.headers = {\n    'x-ibm-client-id': \"default\",\n    'x-ibm-client-secret': \"SECRET\",\n    'content-type': \"application/json\",\n    'accept': \"application/json\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":582.7625732421875,"y":51.030303955078125,"wires":[["a3d3d992.5c2c28","d0d3f63c.2f2c08"]]},{"id":"a3d3d992.5c2c28","type":"http request","z":"c7f9109a.3806f","name":"postTemperature","method":"POST","ret":"txt","url":"https://homeapis.mybluemix.net/api/temperatures","x":670.9847412109375,"y":141.25250244140625,"wires":[["da717ce1.258e8"]]},{"id":"da717ce1.258e8","type":"http response","z":"c7f9109a.3806f","name":"","x":853.7625732421875,"y":138.3636474609375,"wires":[]},{"id":"58323060.a7cdd","type":"function","z":"c7f9109a.3806f","name":"humidityParse","func":"var count = context.get('count') || 0;\ncount += 1;\ncontext.set('count', count);\n\nhumidity = {};\n\nhumidity.id = count\nhumidity.currentValue = msg.payload.humidity\nhumidity.timestamp = new Date().toISOString()\n\nmsg.payload = JSON.stringify(humidity)\n\nmsg.headers = {\n    'x-ibm-client-id': \"default\",\n    'x-ibm-client-secret': \"SECRET\",\n    'content-type': \"application/json\",\n    'accept': \"application/json\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":571.8181762695312,"y":259.3636474609375,"wires":[["63e2de81.9c1d2","d5fea368.2a016"]]},{"id":"63e2de81.9c1d2","type":"http request","z":"c7f9109a.3806f","name":"postHumidity","method":"POST","ret":"txt","url":"https://homeapis.mybluemix.net/api/humidities","x":666.3181762695312,"y":348.3636474609375,"wires":[["75e6c8b2.8a1938"]]},{"id":"75e6c8b2.8a1938","type":"http response","z":"c7f9109a.3806f","name":"","x":822.3181762695312,"y":346.3636474609375,"wires":[]},{"id":"d5fea368.2a016","type":"debug","z":"c7f9109a.3806f","name":"","active":true,"console":"true","complete":"payload","x":778.3181762695312,"y":259.3636474609375,"wires":[]}]